{% load sitetree shop_tags banners %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>{% block title %}{{ object.title }}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/prettyPhoto.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/feedback.css" media="screen"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content="{% block meta-kw %}{{ object.meta_keywords }}{% endblock %}"/>
    <meta name="description" content="{% block meta-desc %}{{ object.meta_description }}{% endblock %}"/>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="logo"><img src="{{ STATIC_URL }}images/logo.png" alt="e-cigar.ru"></div>
            <div class="phone"><img src="{{ STATIC_URL }}images/numb.png" alt="+7 (495) 973-96-88"></div>
            <div id="feedback_button">
                <i class="question_mark"></i>Есть вопрос? Напишите нам!
            </div>
            <div class="social-groups">
                <noindex>
                <a rel="nofollow,noindex" href="//twitter.com/#!/e_cigar_ru" target="_blank"><i class="twitter"></i></a>
				<a rel="nofollow,noindex" href="//odnoklassniki.ru/#/group/51895780835426" target="_blank"><i class="odnoklasniki"></i></a>
				<a rel="nofollow,noindex" href="//vkontakte.ru/club31020314" target="_blank"><i class="vkcom"></i></a>
				<a rel="nofollow,noindex" href="//my.mail.ru/community/e-cigar.ru/" target="_blank"><i class="mailru"></i></a>
				<a rel="nofollow,noindex" href="//www.facebook.com/pages/Электронные-сигареты/231170600274546" target="_blank"><i class="facebook"></i></a>
                </noindex>
            </div>
{#            <div class="ims">#}
{#                <i class="icq"></i>267924741#}
{#                <a class="skype" href="skype:e-cigar?call"><i class="skype_s"></i>e-cigar</a>#}
{#            </div>#}
            <div class="menu">
                <i class="left"></i>
                {% sitetree_menu from "topmenu" include "trunk,mainpage" %}
                <i class="right"></i>
            </div>
        </div>
        <div class="mider">
            {% block leftside %}
            <div class="leftside-wrapper">
            <div class="top_ls"></div>
            <div class="leftside">
                <h2>Каталог</h2>
                <ul class="cigarettes-manufacturers-menu">
                    {% for object in manufacturers %}
                    <li>{% ifequal object manufacturer %}
                        <span>{{ object.name }}</span>
                        {% else %}
                        <a href="{% url manufacturer_product_list object.slug %}">{{ object.name }}</a>
                        {% endifequal %}
                        <i class="price_from">от {{ object.min_price|floatformat:"0"|default:"0" }}р</i>
                    </li>
                    {% endfor %}
                </ul>
                <h2><a href="{% url cartridge_list %}">Картриджи</a></h2>
                <img class="ammo" src="{{ STATIC_URL }}images/ammo_pack.png">
                <h2><a href="{% url accessory_list %}">Аксессуары</a></h2>
                <img class="ammo" src="{{ STATIC_URL }}images/accessories.png">
            </div>
            <div class="clearfix"></div>
            <div class="footer"></div>
            </div>
            {% endblock %}
            <div class="content">
                {% block content %}
                <h1>{% block h1 %}{{ object.title }}{% endblock %}</h1>
                <div class="body">
                    {% block body %}
                    {{ object.content }}
                    {% endblock %}
                </div>
                {% endblock %}
            </div>
            <div class="rightside">
                {% block rightside %}
                    {% cart %}
                    {% banner "free_delivery" %}
                {% endblock %}
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="footer">
            <div class="copy">
                <p>&copy; E-cigar.ru</p>
                <p>Все права защищены</p>
            </div>
            <div class="menu">
                {% sitetree_menu from "topmenu" include "trunk" %}
            </div>
            <div class="madein">
                <noindex>Сделано в <a rel="noindex" href="http://pystars.com">pystars.com</a></noindex>
            </div>
        </div>
    </div>
    {% include 'feedback/button.html' %}
    <script type="text/javascript" src="//yandex.st/jquery/1.6.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.form.js"></script>
{#    <script type="text/javascript" src="{{ STATIC_URL }}js/skypeCheck.js"></script>#}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/base.js"></script>
    <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
    <script type="text/javascript" language="JavaScript" src="http://reformal.ru/tabn2v4.js?charset=utf-8"></script>
</body>
</html>