{% extends 'base.html' %}
{% load i18n banners %}

{% block title %}Электронная сигарета. Интернет магазин электронных сигарет. У нас Вы можете купить электронные сигареты{% endblock %}
{% block meta-desc %}Электронная сигарета - поможет легко бросить курить. У нас Вы можете купить электронные сигареты{% endblock %}
{% block meta-kw %}электронная сигарета, электронная сигара, курение, бросить курить, курить в самолете, курить в поезде, курить в метро, легко бросить курить, купить электронную сигарету{% endblock %}
{% block extra_head %}
<meta name="verify-reformal" content="ac3d7f8fd40bd1debfff97fc" />
<meta name='yandex-verification' content='5e709fbaab486ad4' />
{% endblock %}

{% block content %}
    <div class="featured">
        {% with most_discount_product as product %}
            {% include 'snippets/most_discount.html' %}
        {% endwith %}
        {% with most_popular_product as product %}
            {% include 'snippets/hit_product.html' %}
        {% endwith %}
    </div>
    {% banner "homebanner" %}
    <div class="clearfix"></div>
    {% banner "choice_help" %}
    <div class="clearfix"></div>
    <ul class="manufacturer-list">
    {% for manufacturer in manufacturers %}
        <li>
            <div class="img"><img src="{{ MEDIA_URL }}{{ manufacturer.logo }}" alt="{{ manufacturer.name }}"/></div>
            <h2><a href="{% url manufacturer_product_list manufacturer.slug %}">{{ manufacturer.name }}</a></h2>
            {% autoescape off %}
            <div class="desc">
                {{ manufacturer.description|linebreaksbr }}
                <div class="moreinfo"><span>Перейти в каталог {{ manufacturer.name }}</span></div>
            </div>
            {% endautoescape %}
            <div class="clearfix"></div>
        </li>
    {% endfor %}
    </ul>
    <div class="clearfix"></div>
    <div class="text">
        <h1>{{ flatpage.title }}</h1>
        {% autoescape off %}
            {{ flatpage.content }}
        {% endautoescape %}
    </div>
{% endblock %}

{% block leftside_banner %}{% banner "leftside-banner" %}{% endblock %}
{% block rightside_banner %}{% banner "rightside-banner" %}{% endblock %}