{% extends 'base.html' %}
{% load i18n banners %}

{% block title %}{{ flatpage.title }}{% endblock %}
{% block meta-desc %}{{ flatpage.title }}{% endblock %}
{% block meta-kw %}{{ flatpage.title }}{% endblock %}

{% block content %}
    <div class="featured">
        {% with most_discount_product as product %}
            {% include 'snippets/most_discount.html' %}
        {% endwith %}
        {% with most_popular_product as product %}
            {% include 'snippets/hit_product.html' %}
        {% endwith %}
    </div>
    <div class="clearfix"></div>
    {% banner "choice_help" %}
    <div class="clearfix"></div>
    <ul class="manufacturer-list">
    {% for manufacturer in manufacturers %}
        <li>
            <div class="img"><img src="{{ MEDIA_URL }}{{ manufacturer.logo }}" alt="{{ manufacturer.name }}"/></div>
            <h2><a href="{% url manufacturer_product_list manufacturer.slug %}">Электронные сигареты {{ manufacturer.name }}</a></h2>
            {% autoescape off %}
            <div class="desc">{{ manufacturer.description }}</div>
            {% endautoescape %}
            <div class="clearfix"></div>
        </li>
    {% endfor %}
    </ul>
    <div class="clearfix"></div>
    <div class="text">
        <h1>{{ flatpage.title }}</h1>
        {% autoescape off %}
            {{ flatpage.content|linebreaksbr }}
        {% endautoescape %}
    </div>
{% endblock %}
