<div id="feedback_drop" class="hiding"></div>
<div id="feedback_popup" class="hiding">
    <form class="feedback" action="/feedback/ajax{{ request.path }}" method="post">
        {% csrf_token %}
        <div class="name error"></div>
        <label for="feedback_email">Ваш email для обратной связи</label>
            <input id="feedback_email" type="text" name="email"/>
        <div class="subject error"> </div>
        <label for="feedback_subject">Тема (необязательно)</label>
            <input id="feedback_subject" type="text" name="subject"/>
        <div class="text error"> </div>
        <label for="feedback_text">Сообщение</label>
            <textarea id="feedback_text" name="text"></textarea>
        <div class="captcha error"></div>
        <label for="id_captcha_1">Введите буквы с картинки в нижнее поле</label>
            {{ feedback_form.captcha }}
        <div class="buttons">
            <button>Отправить</button>
        </div>
    </form>
    <div class="thanks hiding">Спасибо за Ваше сообщение!</div>
    <div class="close"></div>
</div>